{{ define "main" }}
<main>
    <article>
        <header class="">
            <div>
                <a href="{{.Site.BaseURL}}{{.Section}}">{{ humanize .Section | upper}}</a>
            </div>

            <h1 class="">{{- .Title -}}</h1>

            <audio id="audiofile" controls="" style="width:99%;">
                <source src="/{{.Section}}/{{.File.TranslationBaseName}}.mp3" type="audio/mp3">
            </audio>


            {{if or (.Site.Params.Repo) (.Params.Fonte)}}
            <ul class="remote-options">
                {{if .Params.Fonte}}
                <li>
                    <a href="{{.Params.Fonte}}">Fonte</a>
                </li>
                {{end}}
                {{if .Site.Params.Repo}}
                <li>
                    <a href="{{.Site.Params.Repo}}/edit/main/content/{{replace .File.Path "\\" "/"}}">Editar</a>
                </li>
                <li>
                    <a href="{{.Site.Params.Repo}}/commits/main/content/{{replace .File.Path "\\" "/"}}">Log</a>
                </li>
                {{end}}
            </ul>
            {{end}}
        </header>

        <div id="subtitles">
            {{range .Params.paragraphs}}
            <p>
            {{range .}}<span data-start="{{.start}}" data-end="{{.end}}">{{.en_us}}</span> {{end}}
            </p>
            {{end}}
        </div>

        <hr>

        <div id="legendas">
            {{range .Params.paragraphs}}
            <p>
            {{range .}}<span data-start="{{.start}}" data-end="{{.end}}">{{.pt_br}}</span> {{end}}
            </p>
            {{end}}
        </div>

        <br>
        <br>

        {{.Content}}
    </article>

    {{ range .Params.tags }}
    <li class="list">
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="">
            {{- . -}}
        </a>
    </li>
    {{ end }}
</main>
{{ $script := resources.Get "/js/lyrics.js" | minify | fingerprint }}
<script src="{{$script.RelPermalink}}"></script>
{{ end }}
